@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
html{
  background-image: url("https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547__340.jpg");
  background-size: cover;
  

}

.main{
  background-image: url("https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547__340.jpg");
  background-size: cover; 

}

.player{
  background-image: url("https://drive.google.com/file/d/1gWLv_fMSr0ZqWip8pyiwFUVFvHQhlXTX/view?usp=share_link");
  background-size: cover; 

}
